<!DOCTYPE html>
<html>
<head>
    <title>{{ page_title }}</title>
</head>
<body>
    <h2>{{ page_title }}</h2>

    <form method="post" action="{{ url_for('no_proxy') }}">
        <p><input type="submit" name="head_first_javascript" value="Download Head First JavaScript"/></p>
        <p><input type="submit" name="head_first_ajax" value="Download Head First AJAX"/></p>
        <p><input type="submit" name="head_first_mobile_web" value="Download Head First Mobile Web"/></p>
        <p><input type="submit" name="head_first_python" value="Download Head First Python"/></p>
        <p><input type="submit" name="head_first_programming" value="Download Head First Programming"/></p>
    </form>
</body>
</html>