<!DOCTYPE html>
<html>
<head>
    <title>{{ page_title }}</title>
</head>
<body>
    <h2>{{ page_title }}</h2>

    <form method="post" action="{{ url_for('no_proxy') }}">
        <button type="submit" name="book" value="head_first_web_design">Download Head First Web Design</button><br>
        <button type="submit" name="book" value="head_first_design_patterns">Download Head First Design Patterns</button><br>
        <button type="submit" name="book" value="head_first_data_analysis">Download Head First Data Analysis</button><br>
        <button type="submit" name="book" value="head_first_rails">Download Head First Rails</button><br>
        <button type="submit" name="book" value="head_first_wordpress">Download Head First Wordpress</button>
    </form>
</body>
</html>